{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-white" style="
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                    <h3 class="card-title mb-0" style="color: white">Login</h3>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-login btn-lg" style="
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">Login</button>
                        </div>
                    </form>
                    <hr class="my-4">
                    <div class="text-center">
                        <p>Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none">Register here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}